@import "../../global.scss";

.contact{
    background-color: #ffc482;
    display: flex;

    .left{
         flex: 1;
         overflow: hidden;
         

         img{
             margin-top: 30px;
             height: 80%;

             @include mobile {
                
                height: 70%;
                width: 100%;
            }
         }
    }
.right{
    flex: 1;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2{
        padding: 0 0 10px;
	margin-bottom: 10px;
    font-size: 40px;
    }
    form{
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex-direction: space-around;

    input{
        width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
    border-radius: 10px;
	margin-bottom: 22px;
        font-size: 14px;
        @include mobile {
            width: 100px ;
            height: 20px;
        }
    }
    textarea{
        width: 100%;
        min-height: 150px;
        background-color: rgba(230, 230, 230, 0.6);

        @include mobile {
            width: 100px ;
            height: 100px;
        }
    }
    button{
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: #2ecc71;
        color: #fff;
        font-size: 1.1rem;
        border: none;
        outline: none;
        border-radius: 10px;
        cursor: pointer;

        &:focus{
            outline: none;
        }
    }
}
}
}